#nprogress .bar {
  height: 3px !important;
  background: linear-gradient(to right, #ef4444, #f59e0b) !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

#nprogress .peg {
  box-shadow: 0 0 10px #f59e0b, 0 0 5px #f59e0b !important;
}
